<h1>example icons</h1>

<div class="container">

  <google-icon name="favorite" class="md-3"></google-icon>

  <google-icon name="favorite" class="md-9"></google-icon>

  <google-icon name="favorite" class="md-18"></google-icon>

  <google-icon name="favorite" class="md-24"></google-icon>

  <google-icon name="favorite" class="md-36"></google-icon>

  <google-icon name="favorite" class="md-48"></google-icon>

  <google-icon name="favorite" class="md-dark"></google-icon>

  <google-icon name="favorite" class="md-dark md-inactive"></google-icon>

  <google-icon name="favorite" class="md-light md-inactive"></google-icon>

  <google-icon name="favorite" class="md-light "></google-icon>

</div>
<br />

<hr>
<h1>icon's size type</h1>
<ul>
  <li>
    <p>md-3 = 3px</p>
  </li>
  <li>
    <p>md-9 = 9px</p>
  </li>
  <li>
    <p>md-18 = 18px</p>
  </li>
  <li>
    <p>md-24 = 24px</p>
  </li>
  <li>
    <p>md-36 = 36px</p>
  </li>
  <li>
    <p>md-48 = 48px</p>
  </li>
</ul>
