<h1>example icons</h1>

<div class="container">

  <g-icon name="favorite" class="md-3"></g-icon>

  <g-icon name="favorite" class="md-9"></g-icon>

  <g-icon name="favorite" class="md-18"></g-icon>

  <g-icon name="favorite" class="md-24"></g-icon>

  <g-icon name="favorite" class="md-36"></g-icon>

  <g-icon name="favorite" class="md-48"></g-icon>

  <g-icon name="favorite" class="md-dark"></g-icon>

  <g-icon name="favorite" class="md-dark md-inactive"></g-icon>

  <g-icon name="favorite" class="md-light md-inactive"></g-icon>

  <g-icon name="favorite" class="md-light "></g-icon>

</div>
<br />

<hr>
<h1>icon's size type</h1>
<ul>
  <li>
    <p>md-3 = 3px</p>
  </li>
  <li>
    <p>md-9 = 9px</p>
  </li>
  <li>
    <p>md-18 = 18px</p>
  </li>
  <li>
    <p>md-24 = 24px</p>
  </li>
  <li>
    <p>md-36 = 36px</p>
  </li>
  <li>
    <p>md-48 = 48px</p>
  </li>
</ul>